/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 100%;
    margin: 44px 0 0;
    border-radius: 2px;
    display: block;
    padding: 0;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    width: 96%;
    padding: 10px 2%;
    color: #000;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    display: inline-block;
    padding: 15px 24px;
    margin: 20px 17px 0 0;
    cursor: move;
    border-radius: 2px;
}

div.ReactTags__selected span.ReactTags__tag:nth-child(1n) {    background: #0A7AA2; }
div.ReactTags__selected span.ReactTags__tag:nth-child(2n) {    background: #3095A0; }
div.ReactTags__selected span.ReactTags__tag:nth-child(3n) {    background: #53B9A9; }
div.ReactTags__selected span.ReactTags__tag:nth-child(4n) {    background: #48A37B; }
div.ReactTags__selected span.ReactTags__tag:nth-child(5n) {    background: #4AA263; }

div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    width: 100%;
    position: absolute;
}

div.ReactTags__suggestions ul {
    list-style-type: none;
    background: white;
    color: #000;
    width: 100%;
    padding: 0;
    margin: 0;
}

div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 15px 10px;
    margin: 0;
}

div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

button.done {
    margin: 2%;
    float: right;
    width: 96%;
    padding: 14px 20px;
    border: 0 none;
    background: #009E2C;
    outline: none;
}

button.done:hover {
    background: #008225;
}

button.done:active {
    background: #155D29;
}
