body {
    background: #000000;
    color: #fff;
}

.app-info {
    background: rgba(255,255,255,0.2);
    padding: 2%;
    margin: 2%;
}

.cell.block-color {
    background: rgba(255, 255, 255, 0.2);
    margin: 2%;
    text-align: center;
    padding: 2%;
}